<div class="product">
	<a href="" class="open-modal" id="product-modal">
		<img src="<%= product.image %>">	
		<h2 class="name"><%= product.name %></h2>
		<span class="price"><%= product.price %></span>
		<p class="description hide"><%= product.description %></p>
		<input type="text" class="size hide" value="<%= product.size %>">
		<input type="text" class="id hide" value="<%= product.id %>">
		<span class="view" href="">View</span>
	</a>
</div>